In [167]:
import mysql.connector as conn
import logging
import pymongo
import pymysql
import pandas as pd
import json

Read data in Pandas

In [168]:
df=pd.read_csv('H:\pdsc\data fsds -20220724T095008Z-001\data fsds\FitBit_data.csv')
df.head(3)

,Id,ActivityDate,TotalSteps,TotalDistance,TrackerDistance,LoggedActivitiesDistance,VeryActiveDistance,ModeratelyActiveDistance,LightActiveDistance,SedentaryActiveDistance,VeryActiveMinutes,FairlyActiveMinutes,LightlyActiveMinutes,SedentaryMinutes,Calories
0,1503960366,3/25/2016,11004,7.11,7.11,0.0,2.57,0.46,4.07,0.0,33,12,205,804,1819
1,1503960366,3/26/2016,17609,11.55,11.55,0.0,6.92,0.73,3.91,0.0,89,17,274,588,2154
2,1503960366,3/27/2016,12736,8.53,8.53,0.0,4.66,0.16,3.71,0.0,56,5,268,605,1944

Read Data in SQL Workbench

In [203]:
db=conn.connect(
    host="localhost",
    user="root",
    password="Robert@5",
    database="tasks"
)
cursor=db.cursor()
cursor.execute("SHOW DATABASES")
for x in cursor:
    print(x)

('information_schema',)
('mysql',)
('performance_schema',)
('sakila',)
('sys',)
('tasks',)
('world',)

In [ ]:
cursor.execute("LOAD DATA INFILE 'H:/pdsc/data fsds -20220724T095008Z-001/data fsds/FitBit_data.csv' INTO TABLE FitBit_data1 FIELDS TERMINATED BY ',' ENCLOSED BY '"' LINES TERMINATED BY '\n' IGNORE 1 ROWS;")

In [63]:
data=pd.read_sql_query('SELECT * From FitBit_data1',db)

In [64]:
data.head(3)

,Id,ActivityDate,TotalSteps,TotalDistance,TrackerDistance,LoggedActivitiesDistance,VeryActiveDistance,ModeratelyActiveDistance,LightActiveDistance,SedentaryActiveDistance,VeryActiveMinutes,FairlyActiveMinutes,LightlyActiveMinutes,SedentaryMinutes,Calories
0,1503960366,3/25/2016,11004,7.11,7.11,0,2.57,0.46,4.07,0,33,12,205,804,1819
1,1503960366,3/26/2016,17609,11.55,11.55,0,6.92,0.73,3.91,0,89,17,274,588,2154
2,1503960366,3/27/2016,12736,8.53,8.53,0,4.66,0.16,3.71,0,56,5,268,605,1944

Read data in MongoDB

In [40]:

client = pymongo.MongoClient("mongodb+srv://pou:@cluster0.6cqcabr.mongodb.net/?retryWrites=true&w=majority")
mongdb = client.test

In [41]:
mongdb

Database(MongoClient(host=['ac-4zodx1e-shard-00-02.6cqcabr.mongodb.net:27017', 'ac-4zodx1e-shard-00-00.6cqcabr.mongodb.net:27017', 'ac-4zodx1e-shard-00-01.6cqcabr.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, retrywrites=True, w='majority', authsource='admin', replicaset='atlas-3ivmve-shard-0', tls=True), 'test')

In [48]:
df.to_json('FitBit.json')

In [50]:
with open('FitBit.json') as file:
    file_data = json.load(file)

In [54]:
mdatabase = client['FitBitdb']
collection=mdatabase['fitbit_dataset']
collection.insert_one(file_data)

Change datatypes to Datetime Format

In [55]:
df.dtypes

Id                            int64
ActivityDate                 object
TotalSteps                    int64
TotalDistance               float64
TrackerDistance             float64
LoggedActivitiesDistance    float64
VeryActiveDistance          float64
ModeratelyActiveDistance    float64
LightActiveDistance         float64
SedentaryActiveDistance     float64
VeryActiveMinutes             int64
FairlyActiveMinutes           int64
LightlyActiveMinutes          int64
SedentaryMinutes              int64
Calories                      int64
dtype: object

In [56]:
df['ActivityDate']=pd.to_datetime(df['ActivityDate'])

In [57]:
df.dtypes

Id                                   int64
ActivityDate                datetime64[ns]
TotalSteps                           int64
TotalDistance                      float64
TrackerDistance                    float64
LoggedActivitiesDistance           float64
VeryActiveDistance                 float64
ModeratelyActiveDistance           float64
LightActiveDistance                float64
SedentaryActiveDistance            float64
VeryActiveMinutes                    int64
FairlyActiveMinutes                  int64
LightlyActiveMinutes                 int64
SedentaryMinutes                     int64
Calories                             int64
dtype: object

In [60]:
dsql = pd.read_sql_query("""SELECT DATE_FORMAT(STR_TO_DATE(ActivityDate,'%m/%d/%Y'), '%Y-%m-%d') AS ConvertedDate FROM FitBit_data1""", db)

In [72]:
dsql.head(3)

  ConvertedDate
0    2016-03-25
1    2016-03-26
2    2016-03-27

Count unique Ids

In [ ]:
df['Id'].value_counts()

In [78]:
df['Id'].unique()

array([1503960366, 1624580081, 1644430081, 1844505072, 1927972279,
       2022484408, 2026352035, 2320127002, 2347167796, 2873212765,
       2891001357, 3372868164, 3977333714, 4020332650, 4057192912,
       4319703577, 4388161847, 4445114986, 4558609924, 4702921684,
       5553957443, 5577150313, 6117666160, 6290855005, 6391747486,
       6775888955, 6962181067, 7007744171, 7086361926, 8053475328,
       8253242879, 8378563200, 8583815059, 8792009665, 8877689391],
      dtype=int64)

In [80]:
df['Id'].nunique()

35

Find out the Active Id

In [170]:
df2=df.groupby(by=['Id'])['TotalSteps'].sum().reset_index(name='Sum_total_steps')

In [171]:
df2

            Id  Sum_total_steps
0   1503960366           221170
1   1624580081            80299
2   1644430081            92748
3   1844505072            43687
4   1927972279            26170
5   2022484408           146099
6   2026352035            40713
7   2320127002            37661
8   2347167796           147001
9   2873212765            79639
10  2891001357             6189
11  3372868164            61275
12  3977333714           103967
13  4020332650           184851
14  4057192912            60391
15  4319703577            93847
16  4388161847                0
17  4445114986            64396
18  4558609924            69423
19  4702921684           119151
20  5553957443           100257
21  5577150313            94690
22  6117666160            82486
23  6290855005            16181
24  6391747486            12032
25  6775888955            50031
26  6962181067           176956
27  7007744171           147124
28  7086361926            73247
29  8053475328           163288
30  8253242879            28679
31  8378563200            97623
32  8583815059            24364
33  8792009665            37139
34  8877689391           209005

In [83]:
df2.loc[df2['Sum_total_steps'].idxmax()]

Id                 1503960366
Sum_total_steps        221170
Name: 0, dtype: int64

How many of them have not logged their activity find out in terms of number of id.

In [85]:
df4=df.groupby(by=['Id'])['LoggedActivitiesDistance'].sum().reset_index(name='sum_loggd_dist')
df4

            Id  sum_loggd_dist
0   1503960366        0.000000
1   1624580081        0.000000
2   1644430081        0.000000
3   1844505072        0.000000
4   1927972279        0.000000
5   2022484408        0.000000
6   2026352035        0.000000
7   2320127002        0.000000
8   2347167796        0.000000
9   2873212765        0.000000
10  2891001357        9.656064
11  3372868164        0.000000
12  3977333714        0.000000
13  4020332650        0.000000
14  4057192912        0.055843
15  4319703577        0.000000
16  4388161847        0.000000
17  4445114986        0.000000
18  4558609924        0.000000
19  4702921684        0.000000
20  5553957443        0.000000
21  5577150313        0.000000
22  6117666160        0.000000
23  6290855005        0.000000
24  6391747486        8.754830
25  6775888955        0.000000
26  6962181067       14.052416
27  7007744171       34.351326
28  7086361926        0.000000
29  8053475328        0.000000
30  8253242879        0.000000
31  8378563200       15.127832
32  8583815059        0.000000
33  8792009665        0.000000
34  8877689391        0.000000

In [86]:
df4['sum_loggd_dist'].apply(lambda x:x<0).count()

35

In [87]:
df4['sum_loggd_dist'].value_counts()

0.000000     29
9.656064      1
0.055843      1
8.754830      1
14.052416     1
34.351326     1
15.127832     1
Name: sum_loggd_dist, dtype: int64

In [88]:
(df4.loc[df4['sum_loggd_dist'] ==0 , 'Id']).count()

29

In [91]:
print(df4['sum_loggd_dist'].apply(lambda x:x<0).count()-(df4.loc[df4['sum_loggd_dist'] ==0 , 'Id']).count())

6

Find out who is the laziest person id that we have in dataset.

In [92]:
df2[df2['Sum_total_steps'] == min(df2['Sum_total_steps'])]

            Id  Sum_total_steps
16  4388161847                0

Based on the Total Steps, the above Id is the Laziest


Explore over internet that how much calories burn is required for a healthy person and find out how many healthy person we have in our dataset.

A healthy person burns around 2200 kcal per day.

In [154]:
hperson=df[df['Calories']>=2200]['Id'].drop_duplicates()

In [155]:
len(hperson)

27

How many person are not a regular person with respect to activity try to find out those.

In [163]:
non_reg_person=df[df['TotalSteps']==0]['Id'].drop_duplicates()

In [164]:
len(non_reg_person)

14

Who is the third most active person in this dataset find out those

In [172]:
df2['Sum_total_steps'].nlargest(n=3)

0     221170
34    209005
13    184851
Name: Sum_total_steps, dtype: int64

In [173]:
df2['Rank']=df2['Sum_total_steps'].rank(method='max',ascending=False)

In [176]:
df2[df2['Rank']==3]

            Id  Sum_total_steps  Rank
13  4020332650           184851   3.0

Who is the 5th most laziest person avilable in dataset find it out.

In [190]:
lazy_person_order=df2.sort_values(by='Rank',ascending=False)

In [197]:
(lazy_person_order.head(5)).tail(1)

            Id  Sum_total_steps  Rank
32  8583815059            24364  31.0

In [202]:
df.groupby(['Id'])['Calories'].sum().reset_index(name='Accumulated_Calories')

            Id  Accumulated_Calories
0   1503960366                 34128
1   1624580081                 25705
2   1644430081                 29164
3   1844505072                 19391
4   1927972279                 27048
5   2022484408                 29704
6   2026352035                 16266
7   2320127002                 18385
8   2347167796                 30320
9   2873212765                 20349
10  2891001357                 18187
11  3372868164                 18603
12  3977333714                 16777
13  4020332650                 98412
14  4057192912                 60913
15  4319703577                 23931
16  4388161847                 14442
17  4445114986                 31617
18  4558609924                 21962
19  4702921684                 42322
20  5553957443                 21630
21  5577150313                 36303
22  6117666160                 20993
23  6290855005                 21656
24  6391747486                 15868
25  6775888955                 24523
26  6962181067                 29249
27  7007744171                 31525
28  7086361926                 26124
29  8053475328                 31825
30  8253242879                 17556
31  8378563200                 40274
32  8583815059                 19130
33  8792009665                 24884
34  8877689391                 41414